*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: cornflowerblue;
}
.Top{
  /* background-color: #2c2e37;
  background-color: red; */
  background: linear-gradient(90deg, #240f16 0%, #daae51 100%);
  width: 100%;
  height: 10%;
  display: flex;

  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  
}

.searchNav{
  width: 100%;
  display: flex;
  /* display: inline-block; */

  justify-content: center;
  align-items: center;
  height: 10%;
  /* border: 2px solid red; */
  
  background: linear-gradient(90deg, #240f16 0%, #daae51 100%);
  

}
.searchNav > input{
  width: 25%;
  height: 70%;
  margin-left: 60%;
  border-radius: 2rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
}
.searchNav > button{
  width: 10%;
  height: 70%;
  font-weight: 500;
  font-size: 80%;
  border-radius: 2rem;
  border: none;

}

hr{
  background-color: rgba(0,0,0,0.1);
}

.notfound{
  display: block;
  color:red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.none{
  display: none;
}
.image{ 
  /* border: 2px solid red; */
  align-items: center;



 
 }
.hor{
  color:blue;
 height: 10px;
}

